.component-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 35px;
    .default_border;
    border-radius: 0;
    height: 80px;
    margin-bottom: 2px;
    box-sizing: border-box;
    width: 100%;

    & > .title {
        font-size: 20px;
        display: flex;
        align-items: center;
        user-select: none;

        &:hover {
            cursor: default;
        }

        & > label {
            font-size: 16px;
        }
    }

    & > a {
        & > button {
            color: @black;
        }
    }
}
