.edit-category-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    border: 2px solid #999999;
    border-radius: 5px;
    padding: 0 5px;
    margin-bottom: 2px;
    box-sizing: border-box;
    float: right;
    min-width: 55%;
    position: relative;
    text-decoration: none;
    transition: height 0.25s;
    height: auto;
    width: 100%;

    &.focus {
        border-color: @blue;
    }

    label {
        flex: 1;
    }

    .controls {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & button {
            border: none;

            i {
                &.icon-check {
                    color: @green_lime;
                }

                &.icon-cross {
                    color: @raspberry;
                }

                &.icon-check,
                &.icon-cross {
                    &:hover {
                        color: @white
                    }
                }

                &:before {
                    font-size: 20px;
                }
            }
        }
    }
}
