.component-filter {
    display: flex;
    align-items: center;
    min-height: 30px;

    &-search {
        .default_border;
        margin-left: 15px;

        &.focus {
            border-color: @blue;
        }

        &  button {
            margin-right: 5px;
        }
    }
}
