.task-edit-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .task-edit {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        overflow-y: auto;

        &-category {
            width: 40%;
        }

        &-info {
            width: 55%;
            display: flex;
            flex-direction: column;
            height: 100%;

            & .controls {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                min-height: 40px;

                & > button {
                    margin-left: 10px;
                    padding: 5px 15px;
                    .default_font;

                    &:hover {
                      color: @white;
                    }

                    & > a {
                        .default_font;
                        text-decoration: none;
                    }
                }
            }

            & > label {
                margin-top: 20px;
                min-height: 40px;

                &.checkbox {
                    display: inline-block;
                    margin-left: 20px;
                }

                & > input[type='text'] {
                    .default_border;
                    height: 36px;

                    &:focus {
                        border-color: @blue;
                    }
                }
            }

            & > .field {
                overflow-y: auto;
                .default_border;
                padding: 5px;

                > textarea {
                    resize: none;
                    border: none;
                    .default_font;
                    width: 100%;
                    box-sizing: border-box;
                    min-height: 300px;

                    &:focus {
                        border-color: @blue;
                        outline: none;
                    }
                }
            }
        }
    }
}
