.component-not-found {
    display: flex;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;

    & .image,
    & .image + div {
        width: 50%;
        height: 100%;
    }

    & .image {
        background: url("../../images/gone.jpg") no-repeat;
    }

    & .image + div {
        & > h1 {
            margin: 0;
            text-align: center;
        }

        & >p {
            padding: 0 15px;
        }
    }
}
