.location-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    & > ol {
        padding: 0;
    }

    & > div {
        & > button {
            .default_font;
            margin-left: 10px;
        }
    }
}
