.component-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    .default_border;
    padding: 0 5px;
    margin-bottom: 2px;
    box-sizing: border-box;
    float: right;
    min-width: 55%;
    position: relative;
    text-decoration: none;
    transition: height 0.25s;
    height: auto;

    &.invisible {
        background-color: @gray_bg_dark;
        border-color: @gray_light;

        div {
            color: @gray_light !important;
        }

        button > i.icon-edit {
            .disabled;
        }

        button > i.icon-add,
        button > i.icon-delete {
            pointer-events: all;
        }

        &:hover {
            box-shadow: none;
        }
    }

    & .name {
        user-select: none;
        display: flex;
        align-items: center;
        line-height: 1;
        flex: 1;

        & > button {
            margin-right: 5px;
            padding: 0;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 19px;

            i.icon-toogle-down:before {
                position: relative;
                top: 0;
                right: 0;
            }

            i.icon-toogle-right:before {
                position: relative;
                top: 1px;
                right: -2px;
            }
        }
    }

    &:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 0 39px -5px rgba(0,0,0,1);
    }

    & .control {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & button {
            color: @black;
            border: none;

            i:before {
                font-size: 20px;
            }
        }
    }
}
