.component-button {
    background: none;
    border: 1px solid @gray_light;
    color: @gray_dark;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        color: @white;
        background: @blue;
        & > i {
          color: @white;
        }
    }

    &:focus {
        outline: none;
    }
}
