@import "~uui-framework/less/uui-colors.less";
@import "~uui-framework/less/uui-buttons.less";
@import '~uui-framework/fonts/font-awesome/less/font-awesome';
@import "~uui-framework/less/uui-progress-bars";
@import "~uui-framework/less/uui-breadcrumbs.less";

body,
html {
    margin: 0;
    height: 100%;
    background-color: @gray_bg_dark;
    .default_font;

    & #app {
        background-color: @white;
        box-sizing: border-box;
        margin: 0 auto;
        height: 100%;
        padding: 15px;
        width: 70%;

        & > div {
            height: 100%;
        }
    }
}
.disabled-link {
  pointer-events: none;
}
.default_font {
    font: 16px/1.5 Comic Sans MS, Comic Sans MS5, cursive;
    color: @gray_dark;
    font-weight: 400;
}

.default_border(@border_color:@gray) {
    border: 2px solid @border_color;
    border-radius: 5px;
}

.icon {
    &:before {
        .fa;
        font-size: 16px;
    }
}

.disabled {
    color: @gray_light !important;

    &:hover {
        color: @gray_light !important;
        background: none !important;

        & > i {
            color: @gray_light !important;
        }
    }
}
.uui-progress {
  transition: width 1s;
}
@import './components/404/404';
@import './components/button/button';
@import './components/category/category';
@import './components/creator/creator';
@import './components/EditTask/editTask';
@import "./components/emptyList/emptyList";
@import './components/home/home';
@import './components/icon/icon';
@import './components/input/input';
@import "./components/showTask/showTask";
@import './components/title/title';
@import './components/locationControl/locationControl';
