.component-show-task {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & > .component-creator {
        width: 75%;
        float: right;
    }

    & > .task-list {
        overflow-y: auto;
    }

    & > .component-empty-list.tasks {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
}
@import "./task/task";
