.icon {
    &-cross:before {
        content: @fa-var-remove;
    }

    &-edit:before {
        content: @fa-var-edit;
    }

    &-delete:before {
        content: @fa-var-trash-o;
    }

    &-add:before {
        content: @fa-var-plus;
    }

    &-toogle-down:before {
        content: @fa-var-chevron-down;
    }

    &-toogle-right:before {
        content: @fa-var-chevron-right;
    }

    &-move:before {
        content: @fa-var-reply;
    }

    &-check:before {
        content: @fa-var-check;
    }
}
