.component-creator {
    display: flex;
    width: 100%;
    margin: 20px 0;
    min-height: 30px;
    .default_border;

    &.focus {
        border-color: @blue;
    }

    & > label {
        width: 100%;

        & > input[type='text'] {
            border-right: 2px solid @gray;
        }
    }

    & button {
        .default_font;
        border: none;
        height: 100%;
        border-radius: 0;
    }
}
