.component-main-workflow {
    height: 100%;
    display: flex;
    flex-direction: column;

    & .uui-progress-bar {
        overflow: visible;
    }

    & .main-panel {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    .component-empty-list.tasks {
        margin-top: 20px;
    }
}
@import './categories/categories';
@import './header/header';
