.component-category-overview {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .component-empty-list {
        width: 100%;
        height: 100%;
    }

    & > .component-creator {
        width: 75%;
    }

    .selected {
        & > .component-category {
            -webkit-box-shadow: 0 0 39px -5px rgba(0,0,0,1);
            border-color: @blue;
            height: 35px;
        }
    }

    .categories-wrapper {
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
}
@import './editField/field';
