.title-header {
    font-size: 32px;
    color: @gray_medium;
    font-weight: bold;
}

.title-category {
  color: @blue;
  font-weight: bold;
}

.title-empty {
  font-size: 24px;
  color: @gray;
  text-align: center;
}
