.component-input {
    display: flex;

    input + span {
        display: flex;
        align-items: center;
    }

    input[type='checkbox'] {
        display: none;

        & + span {
            user-select: none;
            position: relative;
            .icon;

            &:before {
                position: absolute;
                top: 6px;
                left: -20px;
            }
        }

        &:not(:checked) + span:before {
            content: @fa-var-square-o;
        }

        &:checked + span:before {
            content: @fa-var-check-square-o;
        }
    }

    input:not([type]),
    input[type='text'] {
        border: none;
        margin: 0;
        .default_font;
        color: @black;
        outline: none;
        padding: 0 10px;
        width: 100%;
    }
}
